    <div class="container full-page-container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-7 col-lg-6 col-xl-5">

        </div>
        <div class="col-md-8 col-lg-7 col-xl-6 offset-xl-1 mb-5">
          <div class="head mb-2" style="text-align: center;"><h1>Login</h1></div>
          <form [formGroup]="form" (ngSubmit)="OnSubmit(form)">
            <div class="form-outline mb-3">
                <label class="form-label" for="userRole" >User Role</label>
                <select id="userRole" class="form-control " formControlName="userRole">
                    <option value="" disabled selected>Select Role</option>
                    <option>User</option>
                    <option>Jobseeker</option>
                  </select>
                  <div *ngIf="form.get('userRole')?.errors?.required && form.get('userRole')?.touched" class="text-danger">
                    {{ validationMessages.userRole[0].message }}
                  </div>
            </div>
            <div class="form-outline mb-3">
                <label class="form-label" for="email" >Email address</label>
                <input type="email" class="form-control " placeholder="Enter email" id="email" formControlName="email" >
                <div *ngIf="form.get('email')?.errors?.required && form.get('email')?.touched" class="text-danger">
                  {{ validationMessages.email[0].message }}
                </div>
                <div *ngIf="form.get('email')?.errors?.pattern && form.get('email')?.touched" class="text-danger">
                  {{ validationMessages.email[1].message }}
                </div>
            </div>
  
            <div class="form-outline mb-3">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="form-control"  placeholder="Enter Password" id="password" formControlName="password">
                <div *ngIf="form.get('password')?.errors?.required && form.get('password')?.touched" class="text-danger">
                  {{ validationMessages.password[0].message }}
                </div>
                <div *ngIf="form.get('password')?.errors?.minlength && form.get('password')?.touched" class="text-danger">
                  {{ validationMessages.password[1].message }}
                </div>
            </div>
  
            <div class="d-flex justify-content-around align-items-center mb-3">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid" >Login</button>
              <a href="/user/signup" >New user/admin?</a>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <app-loader *ngIf="isLoading" class="overlay"></app-loader>
   
      
