<div class="container full-page-container py-5 h-100">
  <div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-md-6 col-lg-5 col-xl-5">
     
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6 offset-xl-1 mb-5">
      <div class="head mb-2" style="text-align: center;"><h1>Sign up</h1></div>
      <form [formGroup]="form" (ngSubmit)="OnSubmit(form)">
        <div class="form-outline mb-2">
          <label for="userRole">User Role</label>
          <select id="userRole" class="form-control" formControlName="userRole">
            <option value="" disabled selected>Select Role</option>
            <option value="User">User</option>
            <option value="Jobseeker">Jobseeker</option>
            <option value="Admin">Admin</option>
          </select>
          <div *ngIf="form.get('userRole')?.errors?.required && form.get('userRole')?.touched" class="text-danger">{{ validationMessages.userRole[0].message }}</div>
        </div>
        <div class="form-outline mb-2">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="Enter email" id="email" formControlName="email">
          <div *ngIf="form.get('email')?.errors?.required && form.get('email')?.touched" class="text-danger">{{ validationMessages.email[0].message }}</div>
          <div *ngIf="form.get('email')?.errors?.pattern && form.get('email')?.touched" class="text-danger">{{ validationMessages.email[1].message }}</div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-2">
            <div class="form-outline">
              <label for="username">Username</label>
              <input type="text" class="form-control" placeholder="Enter Username" id="username" formControlName="username">
              <div *ngIf="form.get('username')?.errors?.required && form.get('username')?.touched" class="text-danger">{{ validationMessages.username[0].message }}</div>
              <div *ngIf="form.get('username')?.errors?.minlength && form.get('username')?.touched" class="text-danger">{{ validationMessages.username[1].message }}</div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-outline">
              <label for="mobilenumber">Mobile number</label>
          <input type="text" class="form-control" placeholder="Enter Mobile number" id="mobilenumber" formControlName="mobileNumber">
          <div *ngIf="form.get('mobileNumber')?.errors?.required  && form.get('mobileNumber')?.touched" class="text-danger">{{ validationMessages.mobileNumber[0].message }}</div>
          <div *ngIf="form.get('mobileNumber')?.errors?.pattern && form.get('mobileNumber')?.touched" class="text-danger">{{ validationMessages.mobileNumber[1].message }}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-2">
            <div class="form-outline">
              <label for="password">Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" id="password" formControlName="password">
              <div *ngIf="form.get('password')?.errors?.required  && form.get('password')?.touched" class="text-danger">{{ validationMessages.password[0].message }}</div>
              <div *ngIf="form.get('password')?.errors?.minlength && form.get('password')?.touched" class="text-danger">{{ validationMessages.password[1].message }}</div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-outline">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Enter Confirm Password">
              <div *ngIf="form.get('confirmPassword')?.errors?.required && form.get('confirmPassword')?.touched" class="text-danger">
                {{ validationMessages.confirmPassword[0].message }}
              </div>
              <div *ngIf="form.get('confirmPassword')?.errors?.passwordMismatch && form.get('confirmPassword')?.touched" class="text-danger">
                {{ validationMessages.confirmPassword[1].message }}
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-around align-items-center mb-3">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid" >Signup</button>
          <p>Already User <a href="/user/login" >Login?</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
<app-loader *ngIf="isLoading" class="overlay"></app-loader>