<div class="container-fluid hero-section">
    <section id="hero" class="d-flex align-items-center">
      <div class="container-home">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h1>Your Carpentry Job Hub</h1><br>
            <h2>Find skilled Carpenters for your projects. Post your job requirements, review applications, and hire the perfect fit. Start your carpentry journey with us!</h2>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/42982562_thumb5_690x400.webp.jpg" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
    </section>
  </div>

