
.scroll-container {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
  }
  .scroll-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
  }
  
  /* Track */
  .scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Handle */
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.25em;
  }
  
  /* Handle on hover */
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  /* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .card-body{
    background-color: rgb(182, 212, 245);
  }
  .full-page-container {
    position: fixed;
    background-image: url('https://img.freepik.com/premium-vector/video-conference-illustration-people-computer-screen-taking-with-colleague-videoconferencing-online-meeting-workspace-vector-page-video-conference-online-business-people-illustration_181182-8671.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right; 
    min-width: 100%;
    min-height: 100dvh;
    overflow-y: hidden;
    overflow-x: hidden;
  }
 